doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-fluid
      .column
        .col-sm-12
          block sidebar
            nav.navbar.navbar-dark.bg-primary
              .collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                  li.nav-item
                    a.nav-link(href='/catalog') All person
                  li.nav-item
                    a.nav-link(href='/catalog/person/create') Create person
        .col-sm-12
          block content
